/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'usedFont';
    src: url("font/Roboto/Roboto-Light.ttf");
}
#container {
    width: 100%;
    min-height: 400px;
}

#container .section1 {
    /*min-width: 1600px;    */
    width: 100%;
    height: 670px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section1/background_1.png');
    background-size: cover; 
}

#container .section1 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .section1 .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right { 
    float: left;
    width: 830px;
    height: 100%;
}

.column-left .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.column-right .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right .menubar > ul > li > a:hover, 
.column-right .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .section1-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .section1-top-text h1 {
    color: #FFF;
    margin: 0 auto;
    font-family: 'Robotic';
}

#container .row .section1-top-text p {
    color: #FFF;
    font-family: 'Robotic';    
    margin: 0 auto 55px auto;
    line-height: 170%;
    width:780px;
  
}

.separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid #00e0d0; 
}

.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
    font-weight: bold;
}

.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

/* SECTION 2    ********************/
#container .section2 {
    width: 100%;
    display: block;
    height: 400px;
    background: #FFF;
}

#container .section2 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}


#container .section2 .column .row {
    padding:75px 65px;
}

#container .section2 .column .row .image {
    width: 235px;
    height: 100%;
    float:left;
}

#container .section2 .column .row .text {
    float: left; 
    width: 540px;
    height: 100%;
    color: #FFF;    
    margin-left: 100px;
}

.section2 .column .row .text h1 {
    margin: 0px;
    font-size: 1.3em;
}

.section2 .column .row .text h1,
.section2 .column .row .text p {
    color: #333333;
    font-family: 'Robotic';

}

#container .section2 .column .row .text p {
    width: 540px;
    font-size: 0.85em;
    margin: 30px 0 0 0;
}

#container .section2 .column .row .text button {
    margin-top: 35px;
}

#container .section2 .column .row .text .button-sm-dark:hover {
    color: #000;
    border: 1px solid #000;
}

/* SECTION 3    ********************/
#container .section3 {
    width: 100%;
    display: block;
    height: 550px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section3/background2-1600x550.png');
    background-size: cover;
}

#container .section3 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;  
}

#container .section3 .column .playbutton {
    display: block;
    padding-top: 200px;
    margin: auto;
}

#container .section3 .column .playbutton .image {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

#container .section3 .column .playbutton h5 {
    display: block;
    color: #FFF;
    text-align: center;
}
/* Section 4 **********/
#container .section4 {
    width: 100%;
    display: block;
    height: 760px;
    background: #FFF;
}

#container .section4 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .section4 .column .header {    
    width: 100%;
    height: 100px;
    color: #333333;    
    font-family: 'Robotic';
    margin: 0 auto;
    margin: 70px 0 0 0;    
    text-align: center;
}

#container .section4 .column .header p, 
#container .section4 .column .header h1 {
    margin: 0 auto;
}

#container .section4 .column .header p {
    margin-bottom: 20px;
}

#container .section4 .column .header .separator {
    border-top: 1px solid #c6c4c9; 
}

#container .section4 .column .content {
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

#container .section4 .column .content > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0px;
}

#container .section4 .column .content > ul  .content-section {
    padding-top: 40px;
    width: 33%;
    height: 248px;
    float: left;
    text-align: center;
}


#container .section4 .column .content > ul  .bot-border{
    border-bottom: 1px solid;
    border-color: rgba(46,29,85,0.1);
}

#container .section4 .column .content > ul  .right-border{
    border-right: 1px solid;
    border-color: rgba(46,29,85,0.1);
}

#container .section4 .column .content > ul > li p {
    line-height: 170%;
    width: 255px;
    color: #333333;
    margin: 0 auto;
}
/* Section 5 ********/
#container .section5 {
    width: 100%;
    display: block;
    height: 712px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section5/background3-1600x712.png');
    background-size: cover;    
}

#container .section5 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .section5 .column .header {
    width: 100%;
    height: 65px;
    padding-top: 70px;
    color: #fff;
    text-align: center;
    font-family: 'Robotic';
}

#container .section5 .column .header p,h2 {
    margin: 0px;
}

#container .section5 .column .header .separator {
    border-top: 1px solid #c6c4c9;
}

#container .section5 .column .team {
    padding-top:40px;
    height: 310px;
    width: 100%;
}

#container .section5 .column .team .image {
    background:#FFF;
    height : 230px;
    width: 220px;
    display: block;
}

#container .section5 .column .team > ul{
    height: 310px;
    width: 100%;
    margin: 45px 0 0 0;
    list-style: none;
    padding: 0px;
}

.box {
    border: solid 1px;
    border-color: rgb(46,29,85);
}

#container .section5 .column .team > ul > li {
    width: 220px;
    float: left;
    text-align: center;
    color: #FFF;
    padding-left: 20px;
}

#container .section5 .column .team > ul > li p {
    margin-top: 10px;
    margin-bottom: 8px; 
}

#container .section5 .column .team > ul > li h5 {
    margin-top: 20px;
    margin-bottom: 0px;    
}

#container .section5 .column .footer {
    width: 350px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    color: #FFF;   
}
#container .section5 .column .footer p{
    font-size: 0.9em;

}

/* Section 6 *******/
#container .section6 {
    width: 100%;
    display: block;
    height: 740px;
    background: #FFF;
}

#container .section6 .row1 {
    width: 960px;
    height: 155px;
    margin: 0 auto;
}

#container .section6 .row1 .header {
    height: 157px;
    margin-top: 70px;
    position: relative;
}

#container .section6 .row1 .header .head-right {
    width:140px;
    position: absolute;right:0;top:0
}

#container .section6 .row1 .header .head-left {
    width:200px;
    position: absolute;left:0;top:0;
    padding-left:10px;
}

#container .section6 .row2 {
    width: 100%;
    height: 585px;
    margin: 0 auto;
}


#container .section6 .row2 .ourwork {
    height: 400px;
    width:100%;
}

#container .section6 .row2 .ourwork .work1 {
    height: 200px;
    width: 100%;
    background: #333333;
    display: block;
}

#container .section6 .row2 .ourwork .work2 {
    height: 200px;
    width: 100%;    
    background: #000;
    display: block;
}
#container .section6 .row2 .ourwork > ul {
    list-style: none;
    width:100%;
}

#container .section6 .ourwork > ul > li {
    list-style: none;
    width: 16%;
    height: 200px;  
    float: left;
}

#container .section6 .row2 .loadmore{
    width: 960px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
}

#container .section6 .row2 .loadmore button {
    margin-top: 70px; 
}

#container .section6 .row2 .button-sm-dark:hover {
    color: #000;
    border: 1px solid #000;
}

/* Section 7 *********************/
#container .section7 {
    width: 100%;
    display: block;
    height: 500px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section7/background4-1600x500.png');
    background-size: cover;    
}

#container .section7 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .section7 .column .header {
    height: 230px;
    width: 780px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
}

#container .section7 .column .header h3{
    padding-top: 70px;
}

#container .section7 .column .header h3, 
#container .section7 .column .header p{
    font-family: 'Robotic';
}

#container .section7 .column .team {
    width: 100%;
    height: 220px;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
}

#container .section7 .column .team .row {
    color: #FFF;
    margin-top: 55px;
    margin:  auto;
    
}

#container .section7 .column .team .row > ul {
    color: #FFF;
    height: 100px;
    list-style: none;    
}

#container .section7 .column .team .row > ul > li {    
    padding-right: 10px;
    display: inline;
    
}

#container .section7 .column .team .row > ul > li a {
    border-radius: 50%;
    text-decoration: none;
}
#container .section7 .column .team .row > ul > li img {
    width: 45px;
    height: 45px;
}

#container .section7 .column .team .row > ul > li a.active img {
    width: 70px;
    height: 70px;
}

#container .section7 .column .team .row > ul > li a.arrow img{
    width: 10px;
    height: 20px;
}
/*SECTION 8 */
#container .section8 {
    width: 100%;
    height: 650px;
    background: #FFF;
}
#container .section8 .column {
    width: 960px;
    height: 100%;
    padding: 70px; 
    margin: 0 auto;
}

#container .section8 .column .goodnews {
    float:left;    
    width: 460px;
}

#container .section8 .column .goodnews input, 
#container .section8 .column .goodnews textarea{
    width: 460px;
    border-radius: 1px;
    height: 44px;
    margin-top: 24px;
    text-indent: 21px; 
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    opacity: 0.6;
    border: 1px solid rgb(211, 211, 211);    
}

#container .section8 .column .goodnews .textbox {
    padding-top: 10px;
    height: 150px;
    resize: none;  
}

#container .section8 .column .goodnews button {
    margin-top: 22px;
}

#container .section8 .column .goodnews button:hover {    
    color: #000;
    border-color: #000;
}

#container .section8 .column .happycustomers {
    float:left;
    margin-left: 100px;
}

#container .section8 .column .happycustomers > ul {
    padding-left: 0px;
}

#container .section8 .column .happycustomers > ul > ul {
    padding: 0px;
    list-style: none;
}

#container .section8 .column .happycustomers > ul > ul > li {
    padding-top: 20px;    
    padding-right: 20px;
    width: 160px;
    height: 70px;
    float:left;
    list-style: none;
}
/* Section 9 */
#container .section9 {
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section9/background5-1600x400.png');
    background-size: cover; 
}

#container .section9 .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 10px;
    color: white;
}

#container .section9 .column .left {
    float: left;
    width: 310px;
    height: 100%;
} 
#container .section9 .column .left .left-bot {
    float: left;
}

#container .section9 .column .left .left-bot > ul {
    list-style: none;
    padding:0px;
    margin-top: 25px;
} 

#container .section9 .column .left .left-bot > ul > li {
    float: left;
    padding-right: 20px;
}

#container .section9 .column .left .left-bot > ul > li a {
    display:inline;
    text-decoration: none;
    font-weight: 10px;
    font-size: 0.8em;
    color: white;
} 

#container .section9 .column .middle {
    width: 320px;
    float: left;
}

#container .section9 .column .middle > ul{
    padding: 0px;
    width: 270px;
    list-style: none;
}

#container .section9 .column .middle > ul > li {
    float:left;
    padding-right: 10px;
    padding-bottom: 10px;
}

#container .section9 .column .middle > ul > li p {
    width: 230px;
    float :left;
    margin: 0px;
}
#container .section9 .column .right {
    float: left;
    width: 320px;
}

#container .section9 .column .right input{
    float: left;
    width: 210px;
    border-radius: 1px;
    margin-right: 10px;
    height: 44px;
    text-indent: 21px; 
    border-width: 1px;
    border-style: solid;
    background: transparent;
    opacity: 0.6;
    font-size: 0.8em;
    border: 1px solid rgb(211, 211, 211);    
}


#container .section9 .column .right ul {
    list-style: none;
    padding-left: 0px;
}
#container .section9 .column .right ul > li{
    float: left;
    padding-right: 8px;
}

#container .section9 .column .right p {
    padding-top: 80px;
    font-size: 0.8em;    
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}