@font-face {
    font-family: funky;
    src: url('../fonts/default/KBPlanetEarth.ttf');
}


body, html {
    height: 100%;
    width: 100%;
}

* {
    font-family: funky;
    padding: 0px;
    margin: 0px;
}

html {
    background-image: url("../images/pageBackgroundImage.png");
}

#container {
    margin: 0 auto;
    min-height: 0px;
    width: 382px;
    overflow: auto;
    padding: 24px 17px 15px 16px;
    background-image: url("../images/toDoListBackgroundImage.png");
}

#container #head h1 {
    text-align: center;
    margin: 0px;
}

#container #head h3 {
    margin: 24px 0px 10px 0px;
    padding: 0px;
}

#container #head #user-input {
    width: 100%;
    height: 117px;
}

#user-input #row-1 {
    width: 100%;
    height: 39px;
    display: flex;
    align-items: center;
}

input, textarea {
    background-color:rgba(0, 0, 0, 0.2);
    border: 3px solid #000;
    border-radius: 2px;
}

#row-1 #title {
    width: 263px;
    height: 33px;
    font-size: 1.2em;
    text-indent: 5px;
    float: left;
}

#row-1 #add-button {
    margin-left: 8px;
    width: 103px;
    height: 32px;
    background: #000;
    border: none;
    color:white;
}

#row-1 #add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 
    rgba(0,0,0,0.19);
    color: rgba(255,255,255,0.9);
}

#user-input textarea {
    resize: none;
    margin-top: 7px;
    width: calc(100% - (12px + 6px));
    padding: 5px 0 0 12px;
    line-height: 1.6em;
    color: #837e7a;
    font-size: 0.9em;
}

#container #divider {
    height: 2px;
    width: 162px;
    background: #000;
    border-radius: 10px;
    display: block;
    margin: 24px auto 0px auto;
}

#container #toDoList {
    list-style: none;
    margin-top: 7px;
    min-height: 0px;
    width: 100%;
    float: left;
}

#container #toDoList li  {
    width: calc(100% - 20px);
    border-left: 5px solid grey;
    background-color: rgba(204,204,204,0.5);
    padding: 9px 5px 19px 10px;
    margin-top: 7px;
    min-height: calc(115px - 28px);
    float: left;
    align-items: center;
    position: relative;
    display: flex;
}

#container #toDoList > li:hover  {
    background-color: rgba(204,204,204,0.7);
    margin-left: 10px;
}

#toDoList > li > .text {
    width: 318px;
    margin-right: 11px;
    min-height: 85px;
    float: left;
}

.text .item-title {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    word-break: break-all;
}

.text .item-time {
    margin-top: 13px;
    padding: 0px;
    color: #6a6f6e;
}

.text .item-description {
    margin-top: 17px;
    padding: 0px;
    word-break: break-all;  
}

#toDoList > li .divider {
    width: 2px;
    display: block;
    background: #000;
    float: left;
    border-radius: 5px;
    top: 15px;
    bottom:15px;
    position: absolute;
}

#toDoList > li .item-delete {
    float: left;
    margin-left: 4px;
    height: 27px;
    width: 25px;
    border: none;
    background: transparent;
    background-image: url("../images/trash_recyclebin_empty_closed.png");
    background-size: cover;
}

#toDoList > li .item-delete:hover {
    background: rgba(0, 0, 0, 0.1);
    background-image: url("../images/trash_recyclebin_empty_closed.png");
     background-size: cover;
}
