@font-face {
    font-family: arcade;
    src: url('../fonts/default/PressStart2P.ttf');
}

* {
    font-family: arcade;
    color: #ffffff;
}

button, select, select option {
    padding: 5px;
    background-color: rgba(255,255,255, 0.4);
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

ul {
    list-style: none;
}

ul > li {
    padding: 1px;
}
input {
    color: #000000;
    padding: 3px;
}

body {
    margin: 0;
    font-family: monospace;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: block;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}


/****** SETTINGS *******/

#controls {
    opacity: 1; /* in FireFox */ 
    margin: auto auto;
    top: 10px;
    right: 10px;
    width: 100%;
    height: 95%;
    position: absolute;
    text-align: center;
    pointer-events:none;
}

#menue {
    margin: 20px;
    padding: 50px;
    visibility: hidden;
}

button, input, select, 
.drag, #usedRules, #notUsedRules {
    pointer-events: visible;
}


#gameStatus{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 40px 5px 10px;
    text-align: left;
    font-size: 0.7em;
    background-color: rgba(220,220,220, 0.5)
}
/**** INGAME *****/
#ingameSettings {
    position: absolute;
    top: 10px;
    left: 10px;
}
#speedSlider {
    pointer-events: visible;
    
}
#speedValue {
    float:right;
}

/******* NEW GAME ******/
#newGame {
    position: absolute;
    top: 10px;
    right: 10px;    
}

#loadGame {
    position: absolute;
    top: 50px;
    right: 10px;  
}

#input3D {
    position: absolute;
    text-align: right;
    top: 100px;
    right: 10px;
    list-style: none;
}

#input3D > li {
    margin: 10px;
}

.dimInput {
    pointer-events: visible;
    width: 30px;
    text-align: center;
}
/****** Map Generation *****/
#mapGeneratePanel{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    text-align: left;
    font-size: 0.7em;
    background-color: rgba(220,220,220, 0.5);
    visibility: hidden;
}

#mapGeneratePanel > input {
    width: 30px;
    margin-bottom: 5px;
}
/****** Panel ****/
.Panel {
    background-color: rgba(220,220,220, 0.5);
    padding: 10px;
    width: 300px;
    margin: 50px auto 0px auto;
    text-align: left;
    visibility: hidden;
}

.cell {
    display:block;
    width:10px;
    height: 10px;
    background-color: rgba(220,220,220, 0.5);
    
}

.dead {
    background-color: rgba(220,220,220, 0.5);
}

.alive {
    background-color: rgba(255,255,255, 0.9);
}