#game {
 height: 500px;
 width: 1200px;
 float: left;
 margin: auto auto;
 padding: 0px;
 border-bottom: 5px solid #caccb9;
 position: relative;
 
}
/* Chrome, Safari, Opera */
@-webkit-keyframes ready{
    from {top: 0px;}
    to {top: -100px;}
}

@keyframes ready {
    from {top: 0px;}
    to {top: -100px;}
}

.rod {
    
    list-style: none;
    width: 300px;
    height: 178px;
    float: left;
    position: absolute;
    bottom: 0;
    padding-right: 10px;
    margin-bottom: 0px;
}

.disk {
    height: 20px;
    margin: 0 auto;
    background:#000;
    position: relative;
    margin-top: 2px;
    right: 0;
    left: 0;
}
#disk0 {
    width: 25px;
}

#disk1 {
    width: 50px;
}

#disk2 {
    width: 75px;
}

#disk3 {
    width: 100px;
}

#disk4 {
    width: 125px;
}

#disk5 {
    width: 150px;
}

#disk6 {
    width: 175px;
}

#disk7 {
    width: 200px;
}