
/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.row-fluid marketing {
    word-wrap: break-word;
}
.list-posts a{
    list-style-type:none;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
}

.title-all {
    font-size: 2em;
}

.author-name-all{
    font-size: 1.1em;
}

.article .title{
    text-align: center;
    font-size : 2.5em;
}

.article .author-name {
    margin-top: 40px;
}

.article .post-content {
    margin-top: 40px;
    font-size: 1.2em;
    word-wrap: break-word;
    
}
.error-page {
    text-align: center;

}
.status-code {
    font-size: 4em;
    margin-bottom: 10px;
}