html, body, #app, .chatroom-row{
    height: 100%;
}

.chatroom {
    width: 100%; 
    height: 100%;
    margin: 0px;    
    padding: 0px;
    max-width: 100%;
}

.chatroom .row {

    padding: 0px;
    margin: 0px;
}

#server-name {
    padding: 10px;
}
.chatroom .col {
    margin: 0px;
}
/****** nav bar ******/
.server {
    display: block;
    height: 100%;
}
/* header */
.server .nav-header {
    font-size: 1.3vw;
}

.server .circle-offline {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0, 80, 0, 0.5);
}

.server .circle-online {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    background: #008000;
}

.server .nav-header:hover {
    
}
/* Elemet */
.element {
    margin: 0xp;
    padding: 0px;
}

.element .status {
    margin: 0xp;
    padding: 0px;
    
}

.element .name {
    margin: 0xp;
    padding: 0px;
    font-size: 1vw;
}

/* Channels */ 
.server .channels {
     font-size: 1.3vw;
     
}

.channels .channel {
    font-size: 1.3vw;
    cursor:pointer;
}

/*** Chat log **/
.chat-section {
    height: 100%;
    
}
.chat-log{
    height: 90%;
    overflow-y: auto;
    /** to change between channels **/
    position: absolute;
    width: 80%;
    overflow-wrap: break-word;
}
.chat-log .row p{
    /*word-break: break-all;*/
}
.chat-section .row #msg {
    position: absolute;
    z-index: 100;
}
#chat-log-2 {
 visibility: hidden;
    
}